/* CSS Resets */
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* Page styling */
body {
    font-family: "Lexend", sans-serif;
    font-weight: 200;
    color: #980000;
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
    display: none;
}

.scroll-stage {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-image: url('images/grainy-bg.jpg');
}

.content {
    position: absolute;
    width: 100%;
    opacity: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-family: "Lexend", sans-serif;
    font-weight: 200;
}

/* Title Slide */
h1 {
    font-size: 1em;
    font-family: "Lexend", sans-serif;
    font-weight: 200;
}

#placeholder {
    width: 50%;
    height: 700px;
}

#fried-egg {
    width: 70%;
    position: absolute;
    top: 25%;
    right: -12%;
    transform: rotate(-150deg);
}

/* Intro */
#carton-placeholder {
    flex: 2;
}

#egg-carton {
    position: absolute;
    top: 20%;
    left: 33%;
    transform: translateX(-50%);
    opacity: 0;
}

.questions, .thoughts {
    flex: 1;
    padding-right: 75px;
}

/* Conditions */
#stage4, #stage6 {
    flex-direction: column;
    line-height: 0;
}

#chickens {
    width: 100%;
}

/* Interactive slider */
#stage8 {
    flex-direction: column;
    padding: 0 10% 0 10%;
    text-align: center;
    z-index: 1;
}

#guess {
    font-size: 0.5em;
    margin: -1em 0 2em 0;
}

.slider, .future-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: #980000;
    border-radius: 10px;
    outline: none;
    -webkit-transition: .2s;
    transition: 0.2s;
  }
  
.slider::-webkit-slider-thumb, .future-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #980000;
    cursor: pointer;
    border-radius: 15px;
}
  
.slider::-moz-range-thumb, .future-slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: #980000;
    cursor: pointer;
    border-radius: 15px;
}

#slider-container, #future-slider-container {
    width: 85%;
    padding: 0;
    margin: 0;
    position: relative;
}

#slider-value {
    position: absolute;
    font-size: 0.5em;
    top: 40px;
    left: 40px;
    transform: translateX(-50%);
}

#green-dot {
    background-color: #9EAE5E;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    left: 11%;
    opacity: 0;
}

#green-dot-label {
    position: absolute;
    bottom: 0;
    left: 10.5%;
    bottom: -100%;
    color:#9EAE5E;
    font-size: 0.5em;
    opacity: 0;
}

#labels {
    display: flex;
    justify-content: space-between;
    width: 85%;
    position: relative;
}

.num-label {
    font-size: 0.5em;
}

#days {
    position: absolute;
    top: 0;
    left: -3em;
    font-size: 0.5em;
}

/* Hover Section */

#stage9 {
    width: 80%;
}

.img-container {
    flex: 2;
}

.img-container:last-of-type {
    flex: 3;
}

#ice-cream {
    width: 100%;
    opacity: 1;
}

#ice-cream-caption {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 40%;
    z-index: -1;
    font-size: 0.85em;
}

#yogurt {
    width: 90%;
    opacity: 1;
}

#yogurt-caption {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 60%;
    z-index: -1;
    font-size: 1em;
}

#milk {
    width: 100%;
    opacity: 1;
}

#milk-caption {
    width: 55%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    font-size: 0.5em;
}

/* Planet */

#stage10 {
    text-align: center;
}

#stage11 {
    width: 70%;
    gap: 10%;
}

#stage11 > p {
    flex: 2;
}

#stage11 > div {
    flex: 1;
}

#stage11 > div >img {
    max-height: 50%;
}

#stage12 {
    flex-direction: column;
    padding: 10%;
}

.climate-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#stage12 > div > p, #gallon-caption {
    flex: 2;
    font-size: 0.5em;
}

#stage12 .nums {
    flex: 1;
    font-size: 1.25em;
    padding: 0;
    margin: 0;
}

#gallon-stat {
    flex: 1;
}

#gallons {
    font-size: 0.5em;
    font-weight: 500;
    margin: 0;
    padding: 0 0 0 1em;
}

/* Future */
#stage13 {
    flex-direction: column;
    padding: 0 10% 0 10%;
    text-align: left;
}

.paris {
    font-size: 0.7em;
}

#stage14 {
    flex-direction: column;
}

#stage14 > p {
    font-size: 0.5em;
    margin-top: 0;
    padding-top: 0;
}

#scene {
    width: 100%;
}

#image-container {
    position: relative;
    width: 75%;
}

#hover-div {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 42%;
    top: 15%;
}

#future-slider-container {
    width: 75%;
}

#text-popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    font-size: 0.5em;
    border-radius: 15px;
    border: 5px solid #980000;
    opacity: 0;
}

/* Conclusion */
#stage16 {
    width: 80%;
    gap: 40px;
}

#quote {
    flex: 2;
}

#quotes-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

#quotes-container > img {
    width: 50%;
}

#author {
    font-size: 0.5em;
}

/* Footer */
footer {
    background-color: #980000;
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
    line-height: 2em;
    position: relative;
    z-index: 1;
}

footer > a {
    color: white;
    text-decoration: none;
}

#copyright {
    padding: 0;
    margin: 0;
}

#sources-overlay {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:#980000;
    background-color: #F5EEE4;
    width: 50%;
    max-height: 250%;
    overflow: scroll;
    border: 3px solid #980000;
    border-radius: 15px;
    opacity: 0;
    z-index: -1;
    text-align: left;
    padding: 0 1em;
    font-size: 0.70em;
    line-height: normal;
    word-break: break-word;   
}

#images-overlay {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:#980000;
    background-color: #F5EEE4;
    width: 50%;
    max-height: 250%;
    overflow: scroll;
    border: 3px solid #980000;
    border-radius: 15px;
    opacity: 0;
    z-index: -1;
    text-align: left;
    padding: 0 1em;
    font-size: 0.70em;
    line-height: normal;
    word-break: break-word;   
}

i {
    color:#980000;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    z-index: 1;
}

#sources-overlay a, #images-overlay a {
    color:#980000;
}